/*
 * mystyle.css - created by Alexander V. Koudijs
 * 9/25/14
 */
body {
    background-color: lightblue;
}


div.main-data {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 86px;
    color: black;
    text-align: right;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: bold;
}